# Manual de manejo de bases de datos en Python

## Trabajar con multiples DataFrames

### Unir Dataframes

In [1]:
import pandas as pd
import numpy as np

In [6]:
diccionario={"edad":[14,23,17,12,35,40],"sexo":["m","m","h","h","m","h"],
            "e_civil":["casado","soltero","divorsiado","viudo","soltero","soltero"],
            "t_hijos":["si","no","no","no","si","no"]}
base=pd.DataFrame(diccionario,index=[1,2,3,4,5,6])
base

   edad sexo     e_civil t_hijos
1    14    m      casado      si
2    23    m     soltero      no
3    17    h  divorsiado      no
4    12    h       viudo      no
5    35    m     soltero      si
6    40    h     soltero      no

In [7]:
diccionario2={"edad":[17,29,7,22,23,32],"sexo":["h","h","h","h","m","h"],
            "e_civil":["casado","casado","divorsiado","viudo","casado","soltero"],
            "t_hijos":["si","si","si","no","si","no"]}
base2=pd.DataFrame(diccionario,index=[1,2,3,4,5,6])
base2

   edad sexo     e_civil t_hijos
1    14    m      casado      si
2    23    m     soltero      no
3    17    h  divorsiado      no
4    12    h       viudo      no
5    35    m     soltero      si
6    40    h     soltero      no

In [31]:
diccionario3={"n_hijos":[1,2,7,2,2,3],
                    "empleado":["si","no","si","no","si","no"]}
base3=pd.DataFrame(diccionario3)
base3

   n_hijos empleado
0        1       si
1        2       no
2        7       si
3        2       no
4        2       si
5        3       no

* Unir varios dataframes por sus columanas

In [20]:
n_base=pd.concat([base,base2,base2])
#Se resetea el indice
n_base.index = range(n_base.shape[0])
n_base

    edad sexo     e_civil t_hijos
0     14    m      casado      si
1     23    m     soltero      no
2     17    h  divorsiado      no
3     12    h       viudo      no
4     35    m     soltero      si
5     40    h     soltero      no
6     14    m      casado      si
7     23    m     soltero      no
8     17    h  divorsiado      no
9     12    h       viudo      no
10    35    m     soltero      si
11    40    h     soltero      no
12    14    m      casado      si
13    23    m     soltero      no
14    17    h  divorsiado      no
15    12    h       viudo      no
16    35    m     soltero      si
17    40    h     soltero      no

* Unir varios Dataframes por medios de las filas (deben tener el mismo indice)

In [33]:
#Se generaliza el indice
base3.index=base2.index
base_n2=pd.concat([base,base3],axis=1)
base_n2

   edad sexo     e_civil t_hijos  n_hijos empleado
1    14    m      casado      si        1       si
2    23    m     soltero      no        2       no
3    17    h  divorsiado      no        7       si
4    12    h       viudo      no        2       no
5    35    m     soltero      si        2       si
6    40    h     soltero      no        3       no

* Dividir una columna segun sus elementos en DataFrames individuales y almacenarlos en una lista

In [44]:
lista=[base[base["e_civil"]==i] for i in base.e_civil.unique()]
lista[1]

   edad sexo  e_civil t_hijos
2    23    m  soltero      no
5    35    m  soltero      si
6    40    h  soltero      no